html,
body,
#app,
#app > div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1180px;
}
.mt-15 {
    margin-top: 15px;
}
.mg-15 {
    margin-right: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-10 {
    margin-left: 10px;
}